* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: #fefefe;
}

.required:after {
    content:"*";
    color: red;
  }

  body {
    overflow: hidden;
  }

  body, html {
    height: 100vh;
    user-select: none;
  }

  select {
    cursor: pointer;
  }

  .active {
    color: red;
  }

  .toggle-btn {
    color:#111;
  }

  .toggle-btn.active {
    background-color: #222;
    color: #999;
  }


