* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: #fefefe;
}

.required:after {
    content:"*";
    color: red;
  }

  body {
    overflow: hidden;
  }

  body, html {
    height: 100vh;
  }

  select {
    cursor: pointer;
  }

  .toggle-btn {
    margin: 4px;
  }

  .toggle-btn.active {
    background-color: rgb(80,80,80);
  }



