* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: #fefefe;
}

.required:after {
    content:"*";
    color: red;
  }

  body {
    overflow: hidden;
  }

  body, html {
    height: 100vh;
    user-select: none;
  }

  select {
    cursor: pointer;
  }

  .link {
    cursor: pointer;
    font-size: 13px;
    padding: 5px 0 4px 0;
    color:  #d4d4d4;
    text-decoration: none;
    color: inherit;
  }

  .link.active {
    color: #05d5fa;
    text-decoration: none;
  }

  .toggle-btn {
    color:#111;
    padding: 4px;
    border-radius: 15% 15% 0 0;
  }

  .toggle-btn.active {
    background-color: #222;
    color: #05d5fa;
  }


